* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* TO use Box Model  */
}

body {
  font-family: "Merriweather", serif;
  background-color: #ebf2ff;
}

.button__primary {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}

.navbar__brand {
  width: 100px;
}

.navbar__logo {
  width: 100%;
}

.nav__item {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.nav__item:hover {
  border: 2px solid blue;
}

.hero__image__container {
  width: 100%;
}

.hero__image {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hero__text {
  font-size: 30px;
  margin: 20px 0;
}

@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 2px 30px;
  }
  .hero__container {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

@media (min-width: 1020px) {
  .container {
    max-width: 900px;
  }
  .navbar__brand {
    width: 150px;
  }
  .button__primary {
    padding: 20px;
    font-size: 20px;
  }
  .hero__description {
    width: 100%;
  }
  .hero__text {
    font-size: 50px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1250px;
  }
}
