* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* TO use Box Model  */
}

body {
  font-family: "Merriweather", serif;
  background-color: #ebf2ff;
}

.button__primary {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}

.navbar__brand {
  width: 100px;
}

.navbar__logo {
  width: 100%;
}

.nav__item {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.nav__item:hover {
  border: 2px solid blue;
}

.hero__image__container {
  width: 100%;
}

.hero__image {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hero__text {
  font-size: 30px;
  margin: 20px 0;
}

.explore__menu__text {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
}

.food__card {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
}

.food__card__image__container {
  width: 100%;
}

.food__image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.food__card__description {
  padding: 15px;
}

/* Flexxxxxx */
.restaurant__text {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
}
.restaurant__images__container {
  width: 100%;
}

.restaurant__images__row__one,
.restaurant__images__row__two {
  width: 100%;
  display: flex;
  gap: 3px;
}

.restaurant__images__row__one {
  align-items: baseline;
  margin-bottom: 3px;
}

.restaurant__image__1,
.restaurant__image__4 {
  width: 100%;
  height: 120px;
}

.restaurant__image__2,
.restaurant__image__3 {
  width: 120%;
  height: 200px;
}

.restaurant__1,
.restaurant__2,
.restaurant__3,
.restaurant__4 {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 2px 30px;
  }
  .hero__container {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 40px;
  }

  .explore__menu__lists {
    margin-top: 40px;
    display: flex;
    gap: 15px;
    padding: 0 30px;
  }

  #pizza__card {
    margin-top: -20px;
    margin-bottom: 30px;
  }
  .explore__menu__container {
    margin-top: 30px;
  }
  .explore__menu__view__more {
    display: flex;
    justify-content: center;
  }
  .explore__menu__container {
    position: relative;
  }
  .explore__menu__gradient__bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    transform: skewY(-5deg);
    z-index: -3;
  }

  .restaurant__container{
    display: flex;
    align-items: center;
  }
  .restaurant__text{
    width: 100%;
    font-size: 40px;
  }
}

@media (min-width: 1020px) {
  .container {
    max-width: 900px;
  }
  .navbar__brand {
    width: 150px;
  }
  .button__primary {
    padding: 20px;
    font-size: 20px;
  }
  .hero__description {
    width: 100%;
  }
  .hero__text {
    font-size: 50px;
  }
  .explore__menu__lists {
    gap: 40px;
  }
  .explore__menu__text {
    font-size: 50px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1250px;
  }
}
